
<div>
    <br>
    <br>
<footer  class="text-center p-3" style="background-color: rgba(44, 42, 48, 0.527);" >
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h3>Fitness Xpress</h3>
  
          <p>
            Fitness Xpress FX, est plus qu'une simple club gym. 
            La communauté est profondément enracinée dans nos valeurs, 
            et CFC s'appuie sur un véritable environnement de formation comme une 
            arène d'apprentissage, de maîtrise et de développement dans la formation, 
            l'alimentation et la santé.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4>Formation en Groupe</h4>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Entraîneur personnel</a>
            </li>
            <li>
              <a href="#!" class="text-white">L'entraînement en force</a>
            </li>
            <li>
              <a href="#!" class="text-white">Entrainement d'endurance</a>
            </li>
            <li>
              <a href="#!" class="text-white">Histoires des membres</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
          <h4>A propos de nous</h4>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Nous contacter</a>
            </li>
            <li>
              <a href="#!" class="text-white">Adhésion et prix</a>
            </li>
            <li>
              <a href="#!" class="text-white">Postes vacants</a>
            </li>
            <li>
              <a href="#!" class="text-white">Règles du centre</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(37, 34, 41, 0.527);">
      © 2021 Copyright:
      <a class="text-white" href="https://FXpress.com/">FXpress.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
  